@media screen and (max-width: 600px)
{

    #pTitle
    {
        margin-bottom:8% !important;
    }

    hr
    {
        /* margin:0 10vw 0 10vw !important; */        
        border-top: 2px solid #ccc;
    }

    .gridHeader 
    {        
        width: 90% !important;   
        grid-row-gap: 4vw !important;     
    }

    .fab 
    {        
        padding: 1vh !important;
    }

    .gridPrincipal
    {        
        background-image: url(img/ArgentinaDePie_HeaderBackground_mobile.jpg) !important;
        padding-bottom:5%;
    }

    .divRedes
    {
        padding-top:0vh;
    }

    .divTitle
    {
        font-size:7vw !important;
        padding: 0 3% 10% 3%;
    }

    .textHeader
    {      
        grid-template-columns: 1fr !important;
    }

    #divContanos
    {
        font-size:4vw !important;
    }

    #textHeaderPropuesta 
    {
        font-size: 6vw !important;
        padding-bottom: 4vw !important;
        font-family: chivoLight;
    }

    #divContent
    {
        background-image: url(img/ArgentinaDePie_ContentBackground_mobile.jpg) !important;        
        /* background-position: center !important; */
        /* background-repeat: no-repeat; */
        /* display: block; */
        /* background-size:cover;    */
        /* height:fit-content;     */
        padding-bottom:0% !important;
        height:100vh !important;
    }

    .gridOptions
    {            
      grid-template-rows: 0 25vw auto !important;  
      padding-bottom:10%;   
    }

    #divBlock
    {
        background-color:transparent !important;
    }

    #divTextElegi
    {
        font-size:5vw !important;
        margin-top: 15%;
    }

    .btnCategoria
    {
        height:10vw !important;
        font-size:3vw !important;
        /* text-align: center !important; */
    }    



    .pCategorias {
        font-size: 3.6vw !important;
    }

    .gridCamposPropuesta
    {
        display: grid;
        grid-template-columns:1fr !important;
        grid-column-gap: 2vh;     
    }

    .pLabelMobile
    {
        display: unset !important;
        font-size:3vw !important;
    }

    .pLabels
    {
        display:none;
    }

    .form-control
    {
        margin: 2vw 0 1vw 0;
    }

    #btnEnviarCategoria
    {
        font-size:3vw !important;
    }

    .form-control
    {
        background-color:#587D96 !important;
    }

    .hayAlternativa
    {
        display:none;
    }

    .divRedesBottom 
    {    
        width: unset !important;
    }

    textarea.form-control
    {
        height: 100px;
    }
}
